<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= zone %></h1>
    <p><a href="/">Return to Listing</a></p>
    <!--
    <p>Zone Directory (from config.json): <%= conf.zonedir %></p>
      <a href="/zone/<%= file %>"><%= file %></a> <br>
    -->
      <pre> 
<%= contents %>
      </pre>
  </body>
</html>
